.local-sample-kflow__kf-kf19717669e9596b3fb-0 {
color: #f00;
font-size: 18px;

}
.local-sample-kflow__kf-kf19717669e9596b3fb-1 {
background-color: #ababff;
padding: 1em 2em;
box-sizing: border-box;

}
@container (max-width: 890px) {
.local-sample-kflow__kf-kf19717669e9596b3fb-1 {
background-color: #ffeaab;
}
}
@container (max-width: 520px) {
.local-sample-kflow__kf-kf19717669e9596b3fb-1 {
background-color: #94002c;
}
}
@container (max-width: 380px) {
.local-sample-kflow__kf-kf19717669e9596b3fb-1 {
background-color: #73ab91;
}
}
.local-sample-kflow {
margin-top: 1em;
margin-bottom: 1em;
container-type: inline-size;

}
