
			<div class="local-sample-kflow">
				<div class="local-sample-kflow__kf-kf19717669e9596b3fb-0">これは、kflow モジュールのテストです。</div><div class="local-sample-kflow__kf-kf19717669e9596b3fb-1">{{ main }}</div><p class="local-sample-kflow__kf-kf19717669e9596b3fb-2">This is a sample KFlow template. 2</p>
			</div>
		