// --------------------------------------
// コンテンツが存在しない
.pickles2-contents-editor__notExists{
	border: 1px solid #444;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.05);
	background-color: #222;
	color: #999;
}
.pickles2-contents-editor__notExists.pickles2-contents-editor__notExists--has-thumb {
	.pickles2-contents-editor__notExists__name {
		background-color: #2226;
	}
}
