// --------------------------------------
// コンテンツが存在しない
.pickles2-contents-editor__notExists{
	border: 1px solid #eee;
    border-radius: 12px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.05);
	background-color: #fff;
	padding: 20px;
	margin: 3em auto;
    max-width: 460px;
}
