// --------------------------------------
// コンテンツが存在しない
.pickles2-contents-editor__notExists {
	border: 1px solid #eee;
    border-radius: 13px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.05);
	background-color: #fff;
	padding: 30px;
	margin: 30px auto;
	box-sizing: border-box;
    width: 690px;
    max-width: calc(100% - 40px);
    max-height: calc(100vh - 40px);
	overflow: auto;

	label {
		cursor: pointer;
	}

	&__title {
		text-align: center;
		font-weight: bold;
		font-size: 120%;
	}

	ul {
		margin: 1.5em 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		gap: 5px;
		li {
			list-style-type: none;
			label {
				display: block;
				padding: 5px 10px;
			}
		}
	}

	&__cassette,
	&__name {
		display: inline;
	}
}

// サムネイルがある場合のレイアウト
.pickles2-contents-editor__notExists.pickles2-contents-editor__notExists--has-thumb {
	.pickles2-contents-editor__notExists__list {
		margin: 1em -30px;
		padding: 10px 0;
		overflow: hidden;
		ul {
			margin: 0;
			padding: 0 30px;
			display: flex;
			flex-direction: row;
            width: 100%;
            box-sizing: border-box;
			overflow: hidden;
			user-select: none;

			li {
				list-style-type: none;
				padding: 0;
				margin: 0;
				display: flex;
				label {
					display: flex;
					padding: 0;

					input[type=radio] {
						position: absolute;
						visibility: none;
						display: none;
					}
				}
				&:last-child {
					padding-right: 70px;
				}
			}
		}
	}
	.pickles2-contents-editor__notExists__cassette {
		border: 4px solid #9994;
		border-radius: 13px;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		background-color: #ddd1;
        transform: scale(0.97);
        transition:
			transform 0.1s linear,
			color 0.1s linear,
			border-color 0.1s linear,
			background-color 0.1s linear;
	}
	input[type=radio]:checked + .pickles2-contents-editor__notExists__cassette {
		border: 4px solid #66f;
		background-color: #ddf;
		color: #33f;
        transform: scale(1);
	}

	.pickles2-contents-editor__notExists__thumb {
		width: 280px;
		max-width: calc(100vw - 130px);
		min-height: 200px;
		max-height: 360px;
		overflow: auto;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #9993;
		font-weight: bold;
		font-size: 34px;
		word-break: break-all;
		box-sizing: border-box;

		&--no-image {
			padding: 20px;
		}

		&-inner {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			overflow: auto;
		}

		img {
			display: block;
			width: 100%;
		}
		&--no-image {
		}
	}
	.pickles2-contents-editor__notExists__name {
		display: block;
		padding: 0.5em 5px;
	}
}
