.pickles2-contents-editor__broccoli {

	&-canvas-frame {
		background: linear-gradient(45deg, #e9e9e9 25%, transparent 25%, transparent 75%, #e9e9e9 75%),
					linear-gradient(45deg, #e9e9e9 25%, transparent 25%, transparent 75%, #e9e9e9 75%);
		background-color: #f9f9f9;
	}
	&-palette {
		background-color: #f6f6f6;
	}
	&-instance-tree-view {
		background-color: #f6f6f6;
		&-opener {
			background-color: #ddd;
			&:hover {
				background-color: #999;
			}
		}
		&-opener-inner {
			&::after {
				border-top: 1.4px solid #000;
				border-right: 1.4px solid #000;
			}
		}
	}
}
