.pickles2-contents-editor__kflow {

	&-canvas-frame {
		background: linear-gradient(45deg, #2c2c2c 25%, transparent 25%, transparent 75%, #2c2c2c 75%),
					linear-gradient(45deg, #2c2c2c 25%, transparent 25%, transparent 75%, #2c2c2c 75%);
		background-color: #333333;
		background-size: 24px 24px;
		background-position: 0 0, 12px 12px;
	}
	&-palette {
		background-color: #111;
	}
	&-instance-tree-view {
		background-color: #111;
		&-opener {
			background-color: #333;
			&:hover {
				background-color: #444;
			}
		}
		&-opener-inner {
			&::after {
				border-top: 1.4px solid #eee;
				border-right: 1.4px solid #eee;
			}
		}
	}
}
