.pickles2-contents-editor__module-editor-default {
	flex-grow: 100;
	display: flex;
	flex-direction: row-reverse;

	&-editor {
		position: relative;
		top: 0;
		right: 0;
		width: 100%;

		&-body {
			>div {
				width: 100%;
				height: 100%;
				border: none;
			}
			textarea {
				width: 100%;
				height: 100%;
				border: none;
			}
		}
	}
	@media all and (max-width: 600px) {
		&-canvas {
			display: none;
		}
		&-editor {
			width: 100%;
		}
	}
}
