@charset "utf-8";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";
@import "../node_modules/px2style/dist/px2style";

.pickles2-contents-editor{
	display: flex;
	flex-direction: column;

	&__inner{
		flex-grow: 100;
		overflow: hidden;
		position: relative;
		display: flex;
		flex-direction: column;
	}
}

// --------------------------------------
// ツールバー (共通)
.pickles2-contents-editor--toolbar{
	display: flex;
	justify-content: space-between;
	gap: 10px;
	background-color: #f9f9f9;
	padding: 5px;
	position: relative;
	top: 0; left: 0;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid #bbb;
	z-index: 10000;
	float: none;
	clear: both;
	white-space: nowrap;

	&-btns{
		display: flex;
		gap: 3px;
		justify-content: flex-start;
		overflow: auto;
		flex-shrink: 100;
	}

	&-finish{
		display: flex;
		gap: 3px;
		justify-content: flex-end;
		flex-shrink: 1;
	}
}


// --------------------------------------
// 権限が不足している
@import "./editor/not_permitted/not_permitted.css.scss";


// --------------------------------------
// コンテンツが存在しない
@import "./editor/not_exists/not_exists.css.scss";


// --------------------------------------
// デフォルトエディタモード
@import "./editor/default/default.css.scss";


// --------------------------------------
// ブロックエディタモード
@import "./editor/broccoli/broccoli.css.scss";


// --------------------------------------
// ブロックエディタモード (Kaleflower)
@import "./editor/kflow/kflow.css.scss";
