@charset "utf-8";
.pickles2-contents-editor{
	// border: 1px solid #000;
	@import "../node_modules/bootstrap/dist/css/bootstrap";

	overflow: auto;
}
.pickles2-contents-editor--broccoli{
	&-canvas{
		overflow: auto;
	}
	&-palette{
		overflow: auto;
	}
	&-instance-tree-view{
		overflow: auto;
	}
	&-instance-path-view{
	}
}

.pickles2-contents-editor--notExists{
	border: 1px solid #eee;
	background-color: #fff;
	padding: 20px;
}

.pickles2-contents-editor--default{
	&-btns{
		width: 300px;
	}
	&-canvas{
		iframe{
			width: 100%;
			height: 100%;
			border: none;
		}
	}
	&-editor-body{
		div{
			width: 100%;
			height: 100%;
			border: none;
		}
		textarea{
			width: 100%;
			height: 100%;
			border: none;
		}
	}
}
